.header {
    background-color: orange;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5x;
    align-items: center;
}

.header-input {
    border-radius: 15px;
    padding: 10px;
    align-items: center;
}


.div-cards {
    border-style: double;
    height: 100%;
}
.div-cards:hover {
    border-color: 18px;
    color: rgb(5, 33, 34);
    margin: 5px;
    position: relative;
    box-sizing: border-box;
}*

.main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    padding: 10px;
}


.container-movie {
    margin-top: 150px;
    height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(28, 27, 29);
    width: 100%;
    height: 50px;
}

.text-footer {
    font-size: 40px;
    color: white;
}

.main-paginas {
    display: flex;
    align-items: center;
    justify-content: center;
}