/* AQUI VAI O CABEÇALHO DA MINHA PAGINA */

.header {

    height: 60px;
    width: 100%;
    background-color: rgb(240, 68, 16);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-futuretube {
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 25px;

}

.header-busca {
    padding: 25px;
    width: px;
    height: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
}

/* AQUI VAI TODO CONTEUDO VISIVEL DA PAGINA */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px 260px;
    grid-gap: 15px;
    padding-left: 100px;
    padding-right: 60px;
    margin-top: 5px;
}

.movie-action2 {
    margin-bottom: 3.5cm;
    display: flex;
    justify-content: center;
}

/* AQUI VAI O RODAPÉ DA MINHA PAGINA */

.footer {
    background-color: darkslateblue;
}


.text-footer {
    /*width: 100%;
    height: 100%;*/
    font-size: 40px;
    color: white;
}

.main-paginas {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}